<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd">
        
        
   <context:property-placeholder location="application.properties"/>
	

	
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate"/>
	<bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>
	<bean id="queue" class="java.util.concurrent.ConcurrentLinkedQueue"/>
	<bean id="methods" class="java.util.HashMap"/>
	
	<bean id="executorService" class="java.util.concurrent.Executors" factory-method="newFixedThreadPool">
		<constructor-arg value="10"/>
	</bean>
	

	
	<bean id="methodExecutor" class="com.roadtonerdvana.jtelegraph.core.MethodExecutor">
		<property name="url" value="${url}"/>
	    <property name="downloadUrl" value="${downloadUrl}"/>
		<property name="downloadDirectory" value="${downloadDirectory}"/>
		<property name="token" value="${token}"/>
		<property name="restTemplate" ref="restTemplate"/>
		<property name="objectMapper" ref="objectMapper"/>
		<property name="methods" ref="methods"/>
		<property name="executorService" ref="executorService"/>
		
	</bean>
	
	<bean id="producer" class="com.roadtonerdvana.jtelegraph.core.producer.Producer">
		<property name="methodExecutor" ref="methodExecutor"/>
		<property name="queue" ref="queue"/>
		<property name="maxUpdatesToGet" value="${maxUpdatesToGet}"/>
		<property name="longPollingTimeOut" value="${longPollingTimeOut}"/>
		<property name="timeToSleepBeetweenPolling" value="${timeToSleepBeetweenPolling}"/>
	</bean>
	
	<bean id="executorServiceForCommand" class="java.util.concurrent.Executors" factory-method="newFixedThreadPool">
		<constructor-arg value="10"/>
	</bean>
	
	<bean id="command" class="com.roadtonerdana.jtelegraph.meme.MemeCommand">
		<property name="methodExecutor" ref="methodExecutor"/>
		<property name="memeDirectoryPath" value="${memeDirectoryPath}"/>
		<property name="executorService" ref="executorServiceForCommand"/>
	</bean>
	
	<bean id="consumer" class="com.roadtonerdvana.jtelegraph.core.consumer.Consumer">
		<property name="queue" ref="queue"/>
		<property name="command" ref="command"/>
		<property name="timeToSleepIfNoItemsInQueue" value="${timeToSleepIfNoItemsInQueue}"/>
	</bean>
	
	<bean id="runner" class="com.roadtonerdvana.jtelegraph.core.runner.Runner">
		<property name="producer" ref="producer"/>
		<property name="consumer" ref="consumer"/>
	</bean>

    

</beans>